<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296409529935-11htaddg2ab80jh27lmlm29u143iddtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296409529935-11htaddg2ab80jh27lmlm29u143iddtt</string>
	<key>API_KEY</key>
	<string>AIzaSyAyN-nTb5E14wGg4NYUv6h33S8ySdtaR24</string>
	<key>GCM_SENDER_ID</key>
	<string>296409529935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kplab.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-20161</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-20161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296409529935:ios:ea132d5ab1ffc4b8d0343a</string>
</dict>
</plist>