<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140653651203-701lkmulmdbh4aug7r6876v9efh4l102.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140653651203-701lkmulmdbh4aug7r6876v9efh4l102</string>
	<key>API_KEY</key>
	<string>AIzaSyDhUUACmUy7pIjegu8QVUR6ahiUKUcXewE</string>
	<key>GCM_SENDER_ID</key>
	<string>140653651203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kplab.FirestoreDemo</string>
	<key>PROJECT_ID</key>
	<string>firestore-demo-8aa65</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-demo-8aa65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140653651203:ios:ce20e328e0fc92b09af536</string>
</dict>
</plist>